In [101]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("solutions").getOrCreate()

In [102]:
from pyspark.sql.functions import sum , col

In [103]:
#load datasets 

data_path = "./data/revised_final_data.csv"  
df = spark.read.csv(data_path, header=True, inferSchema=True)

data_path = "./data/goods_classification.csv"  
df_goods = spark.read.csv(data_path, header=True, inferSchema=True)

data_path = "./data/country_classification.csv"  
df_country = spark.read.csv(data_path, header=True, inferSchema=True)
data_path = "./data/services_classification.csv"  
df_services = spark.read.csv(data_path, header=True, inferSchema=True)

In [104]:
df.show()

+----------+-------+----+------------+------------+-------------+------+
|  time_ref|account|code|country_code|product_type|        value|status|
+----------+-------+----+------------+------------+-------------+------+
|2023-06-30|Exports|  00|          AE|       Goods| 2.82028909E8|     F|
|2023-06-30|Exports|  00|          AG|       Goods|     351919.0|     F|
|2023-06-30|Exports|  00|          AI|       Goods|      84762.0|     F|
|2023-06-30|Exports|  00|          AL|       Goods|       3463.0|     F|
|2023-06-30|Exports|  00|          AM|       Goods|     679586.0|     F|
|2023-06-30|Exports|  00|          AO|       Goods|     464583.0|     F|
|2023-06-30|Exports|  00|          AR|       Goods|    5943055.0|     F|
|2023-06-30|Exports|  00|          AS|       Goods|  1.1622992E7|     F|
|2023-06-30|Exports|  00|          AT|       Goods|  1.1202334E7|     F|
|2023-06-30|Exports|  00|          AU|       Goods|2.272665701E9|     F|
|2023-06-30|Exports|  00|          AW|       Goods|     362396.0|     F|
|2023-06-30|Exports|  00|          AZ|       Goods|    5816857.0|     F|
|2023-06-30|Exports|  00|          BB|       Goods|    8464598.0|     F|
|2023-06-30|Exports|  00|          BD|       Goods| 1.77083931E8|     F|
|2023-06-30|Exports|  00|          BE|       Goods|  9.4312051E7|     F|
|2023-06-30|Exports|  00|          BF|       Goods|      36757.0|     F|
|2023-06-30|Exports|  00|          BG|       Goods|    3697081.0|     F|
|2023-06-30|Exports|  00|          BH|       Goods|   2.272435E7|     F|
|2023-06-30|Exports|  00|          BJ|       Goods|     507511.0|     F|
|2023-06-30|Exports|  00|          BM|       Goods|     529761.0|     F|
+----------+-------+----+------------+------------+-------------+------+
only showing top 20 rows

In [105]:
df.printSchema()

root
 |-- time_ref: date (nullable = true)
 |-- account: string (nullable = true)
 |-- code: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- product_type: string (nullable = true)
 |-- value: double (nullable = true)
 |-- status: string (nullable = true)

In [106]:
df = df.withColumn('value', col('value').cast('int'))

In [107]:
df.printSchema()

root
 |-- time_ref: date (nullable = true)
 |-- account: string (nullable = true)
 |-- code: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- product_type: string (nullable = true)
 |-- value: integer (nullable = true)
 |-- status: string (nullable = true)

<h2>Question1 : Calculate the total export value for each country in the 'revised_final' table. Show the top 10 countries with the highest total export values.
 </h2>

In [108]:

result = df.where(col('account')=='Exports').groupBy('country_code').agg(sum('value').alias('total_export_value'))
result = result.join(df_country,result['country_code']==df_country['country_code'],'inner')
result = result.select('country_label',df['country_code'],'total_export_value')
result = result.orderBy(result.total_export_value.desc()).limit(10)
result.show()

+--------------------+------------+------------------+
|       country_label|country_code|total_export_value|
+--------------------+------------+------------------+
|China, People's R...|          CN|      168541418942|
|           Australia|          AU|      124044791511|
|United States of ...|          US|      106261562532|
|               Japan|          JP|       40647876106|
|  Korea, Republic of|          KR|       24767856475|
|      United Kingdom|          GB|       22290125277|
|           Singapore|          SG|       18358723868|
|           Indonesia|          ID|       15861041776|
|              Taiwan|          TW|       15548494077|
|Hong Kong (Specia...|          HK|       12708136935|
+--------------------+------------+------------------+

+----------+-------+----+------------+------------+----------+------+
|  time_ref|account|code|country_code|product_type|     value|status|
+----------+-------+----+------------+------------+----------+------+
|2023-06-30|Exports|  00|          AE|       Goods| 282028909|     F|
|2023-06-30|Exports|  00|          AG|       Goods|    351919|     F|
|2023-06-30|Exports|  00|          AI|       Goods|     84762|     F|
|2023-06-30|Exports|  00|          AL|       Goods|      3463|     F|
|2023-06-30|Exports|  00|          AM|       Goods|    679586|     F|
|2023-06-30|Exports|  00|          AO|       Goods|    464583|     F|
|2023-06-30|Exports|  00|          AR|       Goods|   5943055|     F|
|2023-06-30|Exports|  00|          AS|       Goods|  11622992|     F|
|2023-06-30|Exports|  00|          AT|       Goods|  11202334|     F|
|2023-06-30|Exports|  00|          AU|       Goods|2147483647|     F|
|2023-06-30|Exports|  00|          AW|       Goods|    362396|     F|
|2023-06-30|Exports|  00|          AZ|       Goods|   5816857|     F|
|2023-06-30|Exports|  00|          BB|       Goods|   8464598|     F|
|2023-06-30|Exports|  00|          BD|       Goods| 177083931|     F|
|2023-06-30|Exports|  00|          BE|       Goods|  94312051|     F|
|2023-06-30|Exports|  00|          BF|       Goods|     36757|     F|
|2023-06-30|Exports|  00|          BG|       Goods|   3697081|     F|
|2023-06-30|Exports|  00|          BH|       Goods|  22724350|     F|
|2023-06-30|Exports|  00|          BJ|       Goods|    507511|     F|
|2023-06-30|Exports|  00|          BM|       Goods|    529761|     F|
|2023-06-30|Exports|  00|          BN|       Goods|    697610|     F|
|2023-06-30|Exports|  00|          BO|       Goods|    254497|     F|
|2023-06-30|Exports|  00|          BR|       Goods|  29068274|     F|
|2023-06-30|Exports|  00|          BS|       Goods|    906550|     F|
|2023-06-30|Exports|  00|          BT|       Goods|      4143|     F|
|2023-06-30|Exports|  00|          BW|       Goods|     11472|     F|
|2023-06-30|Exports|  00|          BY|       Goods|    470416|     F|
|2023-06-30|Exports|  00|          BZ|       Goods|     28287|     F|
|2023-06-30|Exports|  00|          CA|       Goods| 249493033|     F|
|2023-06-30|Exports|  00|          CD|       Goods|   1265093|     F|
|2023-06-30|Exports|  00|          CG|       Goods|    406952|     F|
|2023-06-30|Exports|  00|          CH|       Goods|  25820680|     F|
|2023-06-30|Exports|  00|          CI|       Goods|   4771900|     F|
|2023-06-30|Exports|  00|          CK|       Goods|  38216008|     F|
|2023-06-30|Exports|  00|          CL|       Goods|  76327985|     F|
|2023-06-30|Exports|  00|          CM|       Goods|  12880313|     F|
|2023-06-30|Exports|  00|          CN|       Goods|2147483647|     F|
|2023-06-30|Exports|  00|          CO|       Goods|   6043420|     F|
|2023-06-30|Exports|  00|          CR|       Goods|   2030680|     F|
|2023-06-30|Exports|  00|          CV|       Goods|     15261|     F|
|2023-06-30|Exports|  00|          CW|       Goods|    353276|     F|
|2023-06-30|Exports|  00|          CX|       Goods|     65981|     F|
|2023-06-30|Exports|  00|          CY|       Goods|   3815466|     F|
|2023-06-30|Exports|  00|          CZ|       Goods|   8423744|     F|
|2023-06-30|Exports|  00|          DE|       Goods| 193395790|     F|
|2023-06-30|Exports|  00|          DJ|       Goods|   1106327|     F|
|2023-06-30|Exports|  00|          DK|       Goods|  42070862|     F|
|2023-06-30|Exports|  00|          DO|       Goods|   8827037|     F|
|2023-06-30|Exports|  00|          DZ|       Goods| 397053820|     F|
|2023-06-30|Exports|  00|          EC|       Goods|   1247166|     F|
|2023-06-30|Exports|  00|          EE|       Goods|   1786001|     F|
|2023-06-30|Exports|  00|          EG|       Goods|  43030230|     F|
|2023-06-30|Exports|  00|          ES|       Goods|  53467022|     F|
|2023-06-30|Exports|  00|          ET|       Goods|    647723|     F|
|2023-06-30|Exports|  00|          FI|       Goods|   3086810|     F|
|2023-06-30|Exports|  00|          FJ|       Goods| 140275559|     F|
|2023-06-30|Exports|  00|          FK|       Goods|     68510|     F|
|2023-06-30|Exports|  00|          FM|       Goods|   1328960|     F|
|2023-06-30|Exports|  00|          FO|       Goods|    242897|     F|
|2023-06-30|Exports|  00|          FR|       Goods| 134005754|     F|
|2023-06-30|Exports|  00|          GA|       Goods|    342310|     F|
|2023-06-30|Exports|  00|          GB|       Goods| 451531125|     F|
|2023-06-30|Exports|  00|          GD|       Goods|   1216406|     F|
|2023-06-30|Exports|  00|          GE|       Goods|  17203651|     F|
|2023-06-30|Exports|  00|          GF|       Goods|    106284|     F|
|2023-06-30|Exports|  00|          GH|       Goods|   5103917|     F|
|2023-06-30|Exports|  00|          GI|       Goods|      2429|     F|
|2023-06-30|Exports|  00|          GM|       Goods|      5917|     F|
|2023-06-30|Exports|  00|          GN|       Goods|    389756|     F|
|2023-06-30|Exports|  00|          GP|       Goods|   1822307|     F|
|2023-06-30|Exports|  00|          GQ|       Goods|    385364|     F|
|2023-06-30|Exports|  00|          GR|       Goods|  23604008|     F|
|2023-06-30|Exports|  00|          GS|       Goods|     24266|     F|
|2023-06-30|Exports|  00|          GT|       Goods|  18798973|     F|
|2023-06-30|Exports|  00|          GU|       Goods|   2768144|     F|
|2023-06-30|Exports|  00|          GY|       Goods|   7249124|     F|
|2023-06-30|Exports|  00|          HK|       Goods| 320900257|     F|
|2023-06-30|Exports|  00|          HN|       Goods|    924839|     F|
|2023-06-30|Exports|  00|          HR|       Goods|    825254|     F|
|2023-06-30|Exports|  00|          HU|       Goods|   1455439|     F|
|2023-06-30|Exports|  00|          ID|       Goods| 454574112|     F|
|2023-06-30|Exports|  00|          IE|       Goods|  26449122|     F|
|2023-06-30|Exports|  00|          IL|       Goods|   7586707|     F|
|2023-06-30|Exports|  00|          IN|       Goods| 128316271|     F|
|2023-06-30|Exports|  00|          IQ|       Goods|   1503668|     F|
|2023-06-30|Exports|  00|          IR|       Goods|    544289|     F|
|2023-06-30|Exports|  00|          IS|       Goods|    788874|     F|
|2023-06-30|Exports|  00|          IT|       Goods|  48153535|     F|
|2023-06-30|Exports|  00|          JM|       Goods|  11355637|     F|
|2023-06-30|Exports|  00|          JO|       Goods|  22540974|     F|
|2023-06-30|Exports|  00|          JP|       Goods|1168737334|     F|
|2023-06-30|Exports|  00|          KE|       Goods|    325028|     F|
|2023-06-30|Exports|  00|          KG|       Goods|     49899|     F|
|2023-06-30|Exports|  00|          KH|       Goods|   5994804|     F|
|2023-06-30|Exports|  00|          KI|       Goods|   4072619|     F|
|2023-06-30|Exports|  00|          KR|       Goods| 676980586|     F|
|2023-06-30|Exports|  00|          KW|       Goods|  45012797|     F|
|2023-06-30|Exports|  00|          KY|       Goods|    344157|     F|
|2023-06-30|Exports|  00|          KZ|       Goods|   1058183|     F|
|2023-06-30|Exports|  00|          LA|       Goods|    192456|     F|
+----------+-------+----+------------+------------+----------+------+
only showing top 100 rows